body, .top-section, .list li, #header #user_information .user_information_header,
#header, .footer-holder, a, .nav-bar,
#header #user_information .bottom {
    background: #494949 !important;
}
.details ul li, a, th, td {
	color: rgb(218, 218, 218) !important;
}
#header #user_information .userInfoDropdownBgColor {
    background-color: #494949 !important;
    border: none !important;
}
.list li, #header #user_information {
    border: none !important;
}
#hashtag_ticker a {
    color: rgb(218, 218, 218) !important;
}
.top-section {
    border-bottom: none !important;
}
.endless_separator {
    color: rgb(218, 218, 218);
}
.paging li a.prev, .paging li a.prev:hover {
    background: #fceadb url(https://static-assets.highwebmedia.com/images/arrow-left.gif?ce3332e1d85f) no-repeat 50% 50% !important;
}
.paging li a.next, .paging li a.next:hover {
    background: #fceadb url(https://static-assets.highwebmedia.com/images/arrow-right.gif?70f424c35037) no-repeat 50% 50% !important;
}
